
flask==2.2.5
flask-cors
numpy==1.24.4
pandas==1.5.3
# CPU వెర్షన్ టోర్చ్ వాడటం వల్ల మెమరీ ఆదా అవుతుంది
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1 
torchvision 
facenet-pytorch==2.5.2
mediapipe==0.10.9

pytz

scikit-learn==1.3.2
# సర్వర్ డిప్లాయ్మెంట్ కోసం headless వెర్షన్ తప్పనిసరి
opencv-python-headless==4.8.0.76
Pillow
gunicorn